div#container {
    /*z-index: -10;*/
    z-index: 1;
    position: relative;
}
/* featured-faculty */
/*div.block-featured-faculty {*/
/*    width: 480px;*/
/*    position: relative;*/
/*    float: right;*/
/*    right: 30px;*/
/*    top: 30px;*/
/*    z-index: 0;*/
/*}*/

div.view div.view-content h2 {
    font-size: 16px;
    font-weight: bold;
}



div#block-menu-primary-links > .content > ul.menu {
    padding: 0;
}
div#block-menu-primary-links ul.droppy {
    padding: 0;
    height: 20px;
    background: transparent;
}
div#block-menu-primary-links .content {
    background: url(images/nav.gif) no-repeat;
}
/* revised nav */
div#primary-links-top {
    height: 7px;
    line-height: 7px;
    width: 462px;
    background: white;
    font-size: 0;
    background: url(images/nav-top.gif) top left no-repeat;
}
div#primary-links-bottom {
    height: 9px;
    line-height: 9px;
    width: 462px;
    background: blue;
    font-size: 0;
    background: url(images/nav-bottom.gif) top left no-repeat;
}
div#header div#header-region div#block-menu-primary-links ul.droppy { background: transparent !important; padding-left: 0; }



div#footer #block-menu-menu-footer-menu ul.menu li.first {
    margin-left: 40px;
}


.block-faculty-coyne { background: transparent url(images/featured-faculty-bg1.png) no-repeat; }
ul.quicktabs_tabs.quicktabs-style-zen li { display: inline; width: 100px;  }
ul.quicktabs_tabs.quicktabs-style-zen { padding-bottom: 0; }
body.front #main {
    margin-top: 42px;
}
body.front #content-top { border-bottom: 2px; }
ul.quicktabs_tabs.quicktabs-style-zen li a {  }







.recent-post-user-name { font-size: 11px; color: #666666; }

div.recent-post-user-picture {
    height: 110px;
}
div.recent-post-user-picture-wrapper {
    float: left;
    height: 110px;
    width: 60px;
    margin-right: 10px;
}





/* browse */
form#views-exposed-form-browse-page-1 {
    
}
form#views-exposed-form-browse-page-1 div.views-exposed-widget {
    margin-bottom: 20px;
}
form#views-exposed-form-browse-page-1 div.views-exposed-widget + div {
}

input.autocomplete,
input.form-autocomplete {
    position: relative;
    z-index: 100;
}




div.content-profile-display div.content {
    padding-left: 0px;
}




/* vote */
.vote-up-down-widget {
    position: absolute;
    bottom: 15px;
    left: 350px;
}